/* body*/
body{
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
    background-color: #f1f5f9;
}
h1,h2,h3,h4,h5{
    font-family: 'poppins', sans-serif;
    color: #0F172A;
}
/* universal padding*/
.uni-padding{
    padding: 0 7%;
}
/* header section*/
#header-section{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: #0a192f;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    color: #ffffff;
}
.decored{
    width: 50px;
    height: 50px;
    background-color: #121212;
    color: #ffffff;
    border: 1px solid red;
    box-shadow: 0 0 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.navbar{
    display: flex;
    justify-content: left;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
}
.navbar ul li{
    list-style-type: none;
    margin: 20px;   
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
/* hero sewction*/
#hero-section{
    background-image: url(/images/jjjjd.webp);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero{
    padding-top: 9%;
}
.hero h1{
    color: #ffffff;
    font-size: 2.5rem;
}
.hero p{
    color: #ffffff;
    padding: 0 0 20px 0;
    padding: 0;
}
.hero-botom{
    display: flex;
}
.hero-botom  a{
    text-decoration: none;
    background-color: #0a192f;
    border: 1px solid red;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 0 5px 0;
    margin-right: 20px;
}
.services{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    color: #ffffff;
}
.services span{
    padding-top: 10px;
}
.skills-icons{
    display: flex;
    justify-content: right;
    color: #ffffff;
    padding-left: 20px;
    margin-top: 5%;
}
.skills-icons .icon-ps{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid paleturquoise;
    background-color: rgba(2, 34, 31, 0.737);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.skills-icons .icon-figma{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgb(6, 84, 240);
    background-color: rgba(36, 2, 51, 0.737);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.skills-icons .icon-code{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid red;
    background-color: rgba(63, 21, 2, 0.737);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px; 
}
/*background color chnage bottom*/
.btn{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid black;
}
#white{
    background-color: #f3f4f6;
}
#black{
    background-color: #fff1e6;       ;
}
#pink{
    background-color: #dbeafe;
}
#purple{
    background-color: #d1fae5;
}
#yellow{
    background-color:#faf3e0;
}
/* skills section*/
#skill-section{
    padding-top: 1%
}
#skill-section h1{
    text-align: center;
    font-size: 2.5rem;
}
.skill{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section20{
    width: 20%;
    text-align: center;
    color: #0F172A;
}
.back-color{
    width: 90%;
    height: 70%;
    background-color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 10px;
}
/*services section*/
#service-section{
    text-align: center;
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding: 0 5%;
}
.card-service{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
.card-box{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    margin: 20px;
    padding-bottom: 5%;
}
.card-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.martop{
    margin-top: 15px;
}
.martop p{
    margin-left: 30px;
    margin-right: 30px;
}
.tags{
    display: flex;
    justify-content: center;
}
.tags p{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0px 10px;
    color: #0a192f;
    border: 1px solid red;
    font-weight: bold;
}
.fa-screwdriver-wrench{
    color: green;
}
.fa-code{
    color: blue;
}
.fa-laptop{
    color: purple;
}
.fa-tablet-alt{
    color: purple;
}
.fa-mobile-alt{
    color: purple;
}
/* contact section */
#contact-section{
    margin-top: 5%;
    padding-bottom: 5%;
}
.contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    padding-bottom: 5%;
}
.contact h1{
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}
.contact p{
    margin-left: 10px;
}
.deco-wid50{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3%;
}
.third-section50{
    width: 44%;
    background-color: white;
    box-shadow: 0 0 5px 0;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 5%;
}
.third-section50 p{
    margin-left: 10%;
    margin-top: 5%;
}
.third-section50 i{
    padding-right: 10px;
}
.third-section50 a{
    margin-left: 10%; 
    font-size: 25px;
    text-decoration: none;
    color: inherit;
}
.third-section50 input{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;
    box-shadow: 0 0 5px 0;
    border-radius: 10px;
}
.third-section50 textarea {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding-bottom: 30px;
    padding-top: 10px;
    border: none;
    box-shadow: 0 0 5px 0;
    border-radius: 10px;
}
.error{
    margin: 0;
    color: red;
}
.third-section50 button{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
    margin-top: 5%;
    padding:  10px 20px;
    background-color: #1e90ff;
    box-shadow: 0 0 5px 0;
    border-radius: 10px;
}
/*footer section*/
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 5px 0;
    padding-bottom: 5%;
}
.footer a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #1e90ff;
    color: #ffffff;
    border-radius: 10px;
}
.foter-foo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 0 5px 0;
}
.section33{
    width: 30%;
    padding-bottom: 5%;
}
.section33 h3{
    margin-bottom: 10px;
}
.section33 ul{
    padding: 0;
}
.section33 ul li{
    list-style-type: none;
    padding-top: 10px;
}
.section33 ul li a{
    text-decoration: none;
    color: #0F172A;
}
.section33 i{
    padding-right: 10px;
}
.copy-right{
    width: 100%;
    text-align: center;
    box-shadow: 0 0 5px 0;
}
/* links ions*/
#lin-ico{
    font-size: 30px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 3%;
}
#lin-ico i{
    color: #0f172a;
}
/* web desing page page 2*/
#bbchnagecolo{
    background-color: #dbeafe;
}
#head-dert{
    padding-top: 7%;
    text-align: center;
}
#head-dert a{
    text-decoration: none;
    color: #ffffff;
    background-color: #0a192f;
    padding: 10px 20px;
    border-radius: 10px;
}
#design{
    padding-top: 4%;
    
}
.slide img{
    width: 100%;
    height: 70vh;
}
.caption{
 font-size: 30px;
 text-align: center;
 color: #0a192f;
}
.arrodiv{
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}
.arrow{
    cursor: pointer;
    font-size: 20px;
    background-color: #0a192f;
    padding: 10px 19px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}
.slide{
    display: none;
}
#footr{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    align-items: center;
    background-color: #0a192f;
    color: #ffffff;
}
.colo-foot a{
    color: #ffffff;
    font-family: 15px;
    margin-left: 10px;
}
/*page 3 */
#page3{
    background-color: #d1fae5;
}
/*mobile btn* bottom*/
#navbar-mobile ul #mobile-crose, .hamburger{
    display: none;
}
@media (max-width: 768px){
#navbar-mobile{
    position: fixed;
    top: 0;
    width: 100%;
    left: -100%;
    height: 100vh;
    background-color: #0f172a;
    transition: left 0.6s ease;
    padding-top: 2px;
}
#navbar-mobile ul{
    display: flex;
    flex-direction: column; 
    gap: 0;               
    padding: 0;
    margin: 0;
    }
#navbar-mobile ul li {
        width: 90%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#navbar-mobile ul li a {
        display: block; 
        color: white;     
        padding: 5px 10px;   
        font-size: 20px;
}
#mobile-crose {
        border-bottom: none !important; 
        text-align: right;
        padding-bottom: 5px;
}
        .hamburger {
        cursor: pointer;
        font-size: 24px;
        margin-left: 20%; 
        color: white;
        font-size: 40px;
}
   #navbar-mobile ul #mobile-crose, .hamburger{
  display: block;
}
}
/*ipad responsive*/
@media screen and (max-width: 768px){
    #hero-section{
    background-image: url(/images/ipad.webp);
    width: 100%;
    height: 58vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    text-align: center;
    padding-top: 5%;
}
.card-service{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   
}
/*page 2 webdesing section*/
#head-dert{
    padding-top: 15%;
}
#design{
    padding-top: 12%;
}
.slide img{
    width: 100%;
    height: 40Vh;
}
.arrodiv{
    margin-top: 7%;
    margin-bottom: 7%;
}
#footr{
    padding-bottom: 5%;
    padding-top: 5%;
}

}
/*ipad responsive*/
@media screen and (min-width: 810px) and (max-width: 1024px){
        .navbar{
    display: flex;
    justify-content:left;
}
    .navbar ul li{
    margin: 10px;
    }


#hero-section{
    background-image: url(/images/ipad.webp);
    width: 100%;
    height: 55vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    text-align: center;
    padding-top: 5%;
}
.card-service{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.martop p{
    margin-left: 0px;
    margin-right: 0px;
    font-size: 15px;
}
.card-box{
    margin: 5px;
}
/*page 2 webdesing section*/
#head-dert{
    padding-top: 15%;
}
#design{
    padding-top: 11%;
}
.slide img{
    width: 100%;
    height: 40Vh;
}
.arrodiv{
    margin-top: 12%;
    margin-bottom: 11%;
}
#footr{
    padding-bottom: 5%;
    padding-top: 5%;
}
}

/* mobile responsive*/
@media (max-width: 500px){
    /*hero-section responsive*/
#hero-section{
    background-image: url(/images//mmmm.webp);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    text-align: center;
}
.hero h1{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 20%;
}

.hero p{
    text-align: center;
}
.hero-botom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hero-botom a{
    font-size: 10px;
    margin: 5px;
}
.services{
    margin-top: 2%;
    gap: 5px;
}
span{
    width: 100%;
    text-align: center;
    margin: 0;
}
.skills-icons{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
/*background change color section*/
#backcolor{
    text-align: center;
    padding-top: 2%;
}
.section20{
    width: 100%;
    margin: 20px;
    text-align: center;
}
#skill-section h1{
    font-size: 1.5rem;
}
.back-color{
    width: 100%;
}
.card-service{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.second-section50{
    width: 100%;
    margin: 5px;
    text-align: center;
}
#project-section h1{
    font-size: 1.5rem;
}
.contact h1{
    font-size: 1.5rem;
}
.third-section50{
    width: 100%;
    margin: 20px;
}
.section33{
    width: 100%;
    text-align: center;
}
.footer h2{
    font-size: 1.5rem;
    text-align: center;
}
/*page 2 web desing page responsive*/
#head-dert{
    padding-top: 22%;
}
#head-dert h1{
    font-size: 1.8rem;
}
.slide img{
    width: 100%;
    height: 40Vh;
}
#footr{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 4%;
}
}