/* body*/
body{
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
    background-color: #f1f5f9;
}
h1,h2,h3,h4,h5{
    font-family: 'poppins', sans-serif;
    color: #0F172A;
}
/* universal padding*/
.uni-padding{
    padding: 0 7%;
}

/* header section*/
#header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #ffffff;
}
.decored{
    width: 50px;
    height: 50px;
    background-color: #1e90ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.navbar{
    display: flex;
    justify-content: center;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
}
.navbar ul li{
    list-style-type: none;
    padding-right: 30px;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
}
/* hero sewction*/
#hero-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 5%;
}
.section50{
    width: 50%;
}
.section50 h1{
    color: #0F172A;
    font-size: 3rem;
    padding-bottom: 10px;
}
.section50 a{
    text-decoration: none;
    background-color: #1e8fffda;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 10px;
}
.section50 img{
    width: 100%;
    height: auto;
}
/* skills section*/
#skill-section{
    padding-top: 5%
}
#skill-section h1{
    text-align: center;
    font-size: 3rem;
}
.skill{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section20{
    width: 20%;
    text-align: center;
    color: #0F172A;
}
.back-color{
    width: 90%;
    height: 70%;
    background-color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 10px;
}
/* project section*/
#project-section{
    padding-top: 5%;
}
#project-section h1{
    text-align: center;
    font-size: 3rem;
}
.project{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.second-section50{
    width: 48%;
    margin: 5px;
}
.project-decor{
    color: #0F172A;

}
.project-decor img{
    width: 98%;
    height: auto;
}
/* contact section */
#contact-section{
    margin-top: 5%;
    padding-bottom: 5%;
}
.contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    padding-bottom: 5%;
}
.contact h1{
    font-size: 3rem;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}
.contact p{
    margin-left: 10px;
}
.deco-wid50{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3%;
}
.third-section50{
    width: 44%;
    background-color: white;
    box-shadow: 0 0 5px 0;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 5%;
}
.third-section50 p{
    margin-left: 10%;
    margin-top: 5%;
}
.third-section50 i{
    padding-right: 10px;
}
.third-section50 a{
    margin-left: 10%; 
    font-size: 50px;
    text-decoration: none;
    color: inherit;
}
.third-section50 input{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;
    box-shadow: 0 0 5px 0;
    border-radius: 10px;
}
.third-section50 textarea {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding-bottom: 30px;
    padding-top: 10px;
    border: none;
    box-shadow: 0 0 5px 0;
    border-radius: 10px;
}
.third-section50 button{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
    margin-top: 5%;
    padding:  10px 20px;
    background-color: #1e90ff;
    box-shadow: 0 0 5px 0;
    border-radius: 10px;
}
/*footer section*/
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 5px 0;
    padding-bottom: 5%;
}
.footer a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #1e90ff;
    color: #ffffff;
    border-radius: 10px;
}
.foter-foo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 0 5px 0;
}
.section33{
    width: 30%;
    padding-bottom: 5%;
}
.section33 h3{
    margin-bottom: 10px;
}
.section33 ul{
    padding: 0;
}
.section33 ul li{
    list-style-type: none;
    padding-top: 10px;
}
.section33 ul li a{
    text-decoration: none;
    color: #0F172A;
}
.section33 i{
    padding-right: 10px;
}
.copy-right{
    width: 100%;
    text-align: center;
    box-shadow: 0 0 5px 0;
}
/* links ions*/
#lin-ico{
    font-size: 50px;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 3%;
}
#lin-ico i{
    color: #0f172a;
}

/* ipad responsive*/
@media (max-width: 1024px){
    .section50 h1{
         font-size: 2rem;
   }  
}
@media (min-width: 768px) and ( max-width: 820px){
    .section50 h1{
         font-size: 1.5rem;
   } 
}
/*mobile btn* bottom*/
#navbar-mobile ul #mobile-crose, .hamburger{
    display: none;
}
@media (max-width: 500px){
#navbar-mobile{
    position: fixed;
    top: 0;
    width: 300px;
    left: -300px;
    height: 100vh;
    background-color: #0f172a;
    transition: left 0.6s ease;
    padding-top: 5px;
}
#navbar-mobile ul{
    display: flex;
    flex-direction: column; 
    gap: 0;               
    padding: 0;
    margin: 0;
    }
#navbar-mobile ul li {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#navbar-mobile ul li a {
        display: block; 
        color: white;     
        padding: 20px 20px;   
        font-size: 18px;
}
#mobile-crose {
        border-bottom: none !important; 
        text-align: center;
        padding-bottom: 10px;
}
        .hamburger {
        cursor: pointer;
        font-size: 24px;
        padding-right: 20px; 
        color: white;
}
   #navbar-mobile ul #mobile-crose, .hamburger{
  display: block;
}
}

/* mobile responsive*/
@media (max-width: 500px){
.section50{
    width: 100%;
    margin: 20px;
    text-align: center;
}
.section50 h1{
    font-size: 1.2rem;
   } 
.section20{
    width: 100%;
    margin: 20px;
    text-align: center;
}
#skill-section h1{
    font-size: 1.5rem;
}
.back-color{
    width: 100%;
}
.second-section50{
    width: 100%;
    margin: 5px;
    text-align: center;
}
#project-section h1{
    font-size: 1.5rem;
}
.contact h1{
    font-size: 1.5rem;
}
.third-section50{
    width: 100%;
    margin: 20px;
}
.section33{
    width: 100%;
    text-align: center;
}
.footer h2{
    font-size: 1.5rem;
    text-align: center;
}
}